
/* Add some basic styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navigation bar container */
.navbar {
  background-color: #14141400;
  overflow: hidden;
}

/* Logo image */
.navbar img {
  height: 50px;
  padding: 10px;
  float: left;
}

/* Header text */
.navbar h1 {
  color: #fff;
  margin: 0;
  padding: 20px;
  float: left;
}

/* Navigation menu */
.navbar .menu {
  float: right;
}

/* Navigation links */
.navbar .menu a {
  color: #00CCFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}
/* Slider container */
.slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

/* Slide images */
.slider img {
  width: 100%;
  height: 570px; /* Adjust the height as needed */
  object-fit: cover;
}

/* Slide captions */
.slider .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: #fff;
}

/* "Read More" button */
.slider .read-more {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: bold;
}
/* Hide menu on small screens */
@media screen and (max-width: 600px) {
  .navbar .menu {
    display: none;
  }
  
  .navbar .menu.show {
    display: block;
  }
  
  .navbar .icon {
    display: block;
    float: right;
    padding: 16px;
    color: #fff;
    cursor: pointer;
  }
}
.rmore{
text-decoration: none;
background-color: rgb(0, 183, 255);
color: white;
font-size: 150%;
font-weight: bold;
display: inline-block;
padding: 8px 16px;
border-radius: 3px;
}
body{
background-color: black;
}
p{
background-color: #00000057;
}
/* .sliderx {
width: 100%;
height: 300px; 
overflow: hidden;
position: relative;
}

.slider-container {
display: flex;
height: 100%;
transition: transform 0.5s ease;
}

.slide {
flex: 0 0 100%;
height: 100%;
text-align: center;
font-size: 24px;
line-height: 300px;
background-color: #ccc;
} */


@media screen and (max-width: 600px) {
#fcon{
  width: 10px;
  height: 10px;
}  
#ftext{
  font-size: 45%;
}
#fheader{
  width: 45px;
  height: 45px;
}
}
footer {
  
background-color: #333;
color: #fff;
padding: 20px 0;
}
.icon{
width: 20px;
height: 15px;
}
.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}

.footer-content {
display: flex;
justify-content: space-between;
align-items: center;
}

.footer-logo img {
height: 40px;
}

.footer-links ul {
list-style: none;
padding: 0;
margin: 0;
}

.footer-links li {
display: inline-block;
margin-right: 20px;
}

.footer-links a {
color: #fff;
text-decoration: none;
}

.footer-links a:hover {
text-decoration: underline;
}

.footer-social a {
margin-right: 10px;
}

/* Add your own styles for social media icons */

/* Styles for smooth scrolling */
html {
scroll-behavior: smooth;
}
